body {
    background-color: rgb(185, 137, 137);
}

.t-container {
    display: flex;
    justify-content: space-evenly;
}

.t-product-card {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    width: 180px;
    height: 311px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.t-image > img {
    width: 160px;
    height: 180px;
}

.t-name {
    min-height: 50px;
    font-weight: bold;
    width: 100%;
    padding-bottom: 10px;}

.t-prices {
    display: flex;
    color: #F04D2D;
    font-size: 16px;
    width: 100%;
    padding-bottom: 10px;}

.t-price0 {
    color: #7F7F7F;
    text-decoration: line-through;
    padding-left: 10px;

}

.t-in-stock {
    font-size: 11px;
    color: #333333;
    width: 100%;
}